<!-- Sidebar navigation -->
<div class="container-fluid">
  <div class="row">

    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active">
              <i class="fas fa-user"></i>Perfil
            </a>
          </li>
          <!-- Calling SignOut() Api from AuthService -->
          <li class="nav-item">
            <a class="nav-link" (click)="authService.SignOut()">
              <i class="fas fa-sign-out-alt"></i>Sair
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">


        <!-- Show user data when logged in -->
        <div class="row" *ngIf="authService.userData as user">
          <div class="col-md-12">
            <div class="media">
              <img class="align-self-start mr-5 img-thumbnail rounded-circle"
                src="{{(user.photoURL) ? user.photoURL : '/assets/user.jpg'}}" alt="{{user.displayName}}">
              <div class="media-body">
                <h1> <strong>{{(user.displayName) ? user.displayName : 'Anônimo'}}</strong></h1>

              </div>
              <div class="pt-3 pb-2 mb-3 border-bottom">
              </div>
            </div>
          </div>
        </div>
        <div>


        </div>



      </div>

      <div class="alignCard">

        <mat-card *ngFor="let p of post$ | async">
          <img class="imagemPost" [src]="p.photoMain">
          <div>

            <span class="caixaNomeFoto"><img class="fotoProfile" [src]="(p.photoURL) ? p.photoURL :'/assets/user.jpg'"
                alt={{p.displayName}}>
              <p>{{(p.displayName) ? p.displayName : 'Anônimo'}}</p>
              <div class="data">
                <p>{{p.datePub.toDate() | date : 'dd/MM/yyyy'}}</p>
              </div>
            </span>


            <span class="caixaNomeFoto">Problema: {{p.title}} </span>
            <span class="caixaNomeFoto">Descrição: {{p.description}}</span>
            <span class="caixaNomeFoto">Bairro: {{p.bairro}}</span>


          </div>




        </mat-card>

      </div>
    </main>





  </div>
</div>
