.sidebar-sticky{

  padding: 0px !important;
}


.flex-column{
  padding: 0px;
}



.sidebar{
  padding: 0px;
}

.media{
  margin-top: 10px;
}

.media-body{
  display: flex;
  margin-top: 10px;

}

.email{
  padding: 7px 0px 0px 20px;

}



.caixaNomeFoto{
  display: flex;
  flex-direction: row;
  padding-top: 10px;

  }

  .caixaNomeFoto p{
    padding-top: 5px;
  }

  .imagemPost{

    width: 100%;
    height:300px;
  }

  mat-card{
    margin: 10px;
  }

  .fotoProfile{

    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-right: 10px;
  }


  @media only screen and (min-width: 600px) {
    mat-card{
      width: 30vw;
      margin-left: auto;
      margin-right: auto;

    }
  }
