
  <mat-label id="filtro">Filtrar: </mat-label>
  <select class="filtro">
    <option value="" selected></option>
    <option value="Itaquaquecetuba">Itaquaquecetuba</option>
    <option value="SãoMiguel">São Miguel Paulista</option>
  </select>


<mat-card *ngFor="let p of projects$ | async">

  <img class="imagemPost" [src]="p.photoMain">
  <div>

  <span class="caixaNomeFoto" ><img class="fotoProfile" [src]="p.photoURL"
    alt={{p.displayName}}> <p>{{p.displayName}}</p></span>


    <span class="caixaNomeFoto" >Problema: {{p.title}}</span>
    <span class="caixaNomeFoto" >Descrição: {{p.description}}</span>

  </div>



</mat-card>

<!--

<mat-card>

  <img class="imagemPost" [src]="url">
  <div>

    <span class="caixaNomeFoto"  *ngIf="authService.userData as user"><img class="fotoProfile" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
      alt="{{user.displayName}}"> <p> {{(user.displayName) ? user.displayName : 'User'}}</p></span>


  </div>



</mat-card>


<mat-card>

  <img class="imagemPost" [src]="url">
  <div>

    <span class="caixaNomeFoto"  *ngIf="authService.userData as user"><img class="fotoProfile" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
      alt="{{user.displayName}}"> <p> {{(user.displayName) ? user.displayName : 'User'}}</p></span>


  </div>



</mat-card>


<mat-card>


  <img class="imagemPost" [src]="url">
  <div>

    <span class="caixaNomeFoto"  *ngIf="authService.userData as user"><img class="fotoProfile" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
      alt="{{user.displayName}}"> <p> {{(user.displayName) ? user.displayName : 'User'}}</p></span>

  </div>



</mat-card>




<mat-card>


  <img class="imagemPost" [src]="url">
  <div>

    <span class="caixaNomeFoto"  *ngIf="authService.userData as user"><img class="fotoProfile" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
      alt="{{user.displayName}}"> <p> {{(user.displayName) ? user.displayName : 'User'}}</p></span>

  </div>



</mat-card>




<mat-card>


  <img class="imagemPost" [src]="url">
  <div>

    <span class="caixaNomeFoto"  *ngIf="authService.userData as user"><img class="fotoProfile" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
      alt="{{user.displayName}}"> <p> {{(user.displayName) ? user.displayName : 'User'}}</p></span>

  </div>



</mat-card>




<mat-card>


  <img class="imagemPost" [src]="url">
  <div>

    <span class="caixaNomeFoto"  *ngIf="authService.userData as user"><img class="fotoProfile" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
      alt="{{user.displayName}}"> <p> {{(user.displayName) ? user.displayName : 'User'}}</p></span>

  </div>



</mat-card> -->
