<mat-card>
<mat-form-field  appearance="fill">
  <mat-label>Bairro</mat-label>
  <mat-select [(ngModel)]="showOne" [(value)]='bairro' (ngModelChange)="filtrar()">
    <mat-option>None</mat-option>
    <mat-option *ngFor="let estado of estados"  [value]="estado" >{{estado}}</mat-option>
  </mat-select>
</mat-form-field>

</mat-card>

<div *ngIf="!showOne">


<mat-card *ngFor="let p of projects$ | async">

  <img class="imagemPost" [lazyLoad]="p.photoMain">
  <div>

  <span class="caixaNomeFoto" ><img class="fotoProfile" [src]="(p.photoURL) ? p.photoURL :'/assets/user.jpg'"
    alt={{p.displayName}}> <p>{{(p.displayName) ? p.displayName : 'Anônimo'}}</p> <div class="data"><p>{{p.datePub.toDate() | date : 'dd/MM/yyyy'}}</p></div></span>


    <span class="caixaNomeFoto" >Problema: {{p.title}} </span>
    <span class="caixaNomeFoto" >Descrição: {{p.description}}</span>
    <span class="caixaNomeFoto" >Bairro: {{p.bairro}}</span>


  </div>



</mat-card>

</div>

<div class="caixaPrincipal" *ngIf="showOne">
<mat-card *ngFor="let p of post$ | async">

  <img class="imagemPost" [src]="p.photoMain">
  <div>

  <span class="caixaNomeFoto" ><img class="fotoProfile" [src]="(p.photoURL) ? p.photoURL :'/assets/user.jpg'"
    alt={{p.displayName}}> <p>{{p.displayName}}</p></span>


    <span class="caixaNomeFoto" >Problema: {{p.title}}</span>
    <span class="caixaNomeFoto" >Descrição: {{p.description}}</span>
    <span class="caixaNomeFoto" >Bairro: {{p.bairro}}</span>

  </div>


</mat-card>

</div>




<!--

<mat-card>

  <img class="imagemPost" [src]="url">
  <div>

    <span class="caixaNomeFoto"  *ngIf="authService.userData as user"><img class="fotoProfile" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
      alt="{{user.displayName}}"> <p> {{(user.displayName) ? user.displayName : 'User'}}</p></span>


  </div>



</mat-card>


<mat-card>

  <img class="imagemPost" [src]="url">
  <div>

    <span class="caixaNomeFoto"  *ngIf="authService.userData as user"><img class="fotoProfile" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
      alt="{{user.displayName}}"> <p> {{(user.displayName) ? user.displayName : 'User'}}</p></span>


  </div>



</mat-card>


<mat-card>


  <img class="imagemPost" [src]="url">
  <div>

    <span class="caixaNomeFoto"  *ngIf="authService.userData as user"><img class="fotoProfile" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
      alt="{{user.displayName}}"> <p> {{(user.displayName) ? user.displayName : 'User'}}</p></span>

  </div>



</mat-card>




<mat-card>


  <img class="imagemPost" [src]="url">
  <div>

    <span class="caixaNomeFoto"  *ngIf="authService.userData as user"><img class="fotoProfile" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
      alt="{{user.displayName}}"> <p> {{(user.displayName) ? user.displayName : 'User'}}</p></span>

  </div>



</mat-card>




<mat-card>


  <img class="imagemPost" [src]="url">
  <div>

    <span class="caixaNomeFoto"  *ngIf="authService.userData as user"><img class="fotoProfile" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
      alt="{{user.displayName}}"> <p> {{(user.displayName) ? user.displayName : 'User'}}</p></span>

  </div>



</mat-card>




<mat-card>


  <img class="imagemPost" [src]="url">
  <div>

    <span class="caixaNomeFoto"  *ngIf="authService.userData as user"><img class="fotoProfile" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
      alt="{{user.displayName}}"> <p> {{(user.displayName) ? user.displayName : 'User'}}</p></span>

  </div>



</mat-card> -->
